Form{
    margin-top:8%;
}
.LoginPage{
    margin:0 auto;
    width: 500px;
    align-items:center;
    box-shadow: 1px 1px 0px 2px rgba(106, 106, 106, 0.5);
    padding:20px;
}
.LoginPage h4{
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
}